body{
  font-family: sans-serif;
  background-color: #F7DCB9;
  margin:0;
  padding:0;
}
header{
  background-color: #914F1E;
  padding:20px;
  text-align: center;
}
  h1{
    color:#DEAC80;
}
main{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  padding:20px;
}
.menu-section{
  background-color:#F7DCB9;
  border-radius: 10px;
  margin-bottom: 20px;
  padding:20px;
  width:250px;
}
h2{
  color:#DEAC80;
  margin-bottom: 10px;
}
ul{
  padding:0;
}
li{
  color:#264653;
  margin-bottom: 5px;
}
.footer{
  background-color: #914F1E;
  position:static;
  bottom:0;
  width:100%;
  height: 100px;
}
.one{
  color: #914F1E;

}
.two{
  margin-top:10%;
  margin-left: 15%;
  margin-right: 15%;
 color:#DEAC80;
  
}